.App{
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(180deg, #4568DC 0%, #B06AB3 100%), #EF8E48;
    height: 900px;
}

img{
    width: 100px;
    height: 100px;
    padding-top: 100px;
}

img:hover{
	transform: scale(-1, 1);
}

.buttviget{
    width: 200px;
    height: 50px;
}

.closeviget{
    float: right;
}